/* IMPORTANTE 
Este proyecto fue creado 100% por mí, sin ayuda externa.
Las propiedades CSS que agregué se basan en mis muy rudimentarios conocimientos sobre él, por si existen errores.
Por ejemplo, exceso de <br> porque aún no sé usar el modelo de caja. */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2 {
    color: #273746;
}

h3 {
    color: #566573;
}

p {
    text-align: justify;
}

.italic {
    font-style: italic;
}

.linkedin {
    color: #1F618D;
    text-decoration: none;
    font-weight: bold;
}

.academia {
    text-decoration: none;
    font-weight: bold;
    color: #237043;
    font-style: italic;
}

a:hover {
    color: #ec0808e1;
}

.experienciaLaboral {
    width: 70%;
    border-radius: 5px;
    border-spacing: 5px;
}

.experienciaLaboral, .experienciaLaboral th, .experienciaLaboral td {
    border: 1px solid black;
}

th, span {
    font-weight: bold;
}

.datosPersonales {
    width: 30%;
    text-align: left;
}

.portafolio {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    font-weight: bold;
    color: tomato;
    font-size: 1.1rem;
}